body{
    margin:0;
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
svg{
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart span{
    display: inline;
    width: 20px;
    height: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    border: 2px solid red;
}
.item .image {
    display: flex;
    width: 90%;
    height: 100px;
    background: url(../images/merchPlaceholder.png);
    filter: drop-shadow(0 50px 20px #0009);
}