body{
    margin:0;
}
.container {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
svg{
   width:30px 
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
}